<div class="container">
    <div class="img-area">
      <img class="img-logo" src="/images/hlogo.png" alt="Crawler" />
    </div>
    <div class="input-area">
      <div class="inp-c">
        <div class="inp-c" >
          <input id="url" type="text" name="url" value="https://trace.sajadpp.repl.co/u/{{num}}" readonly />
          <button style="font-size: 26px;" onclick="copy('url');" type="submit"><span class="bx bxs-copy-alt"></span></button>
        </div>
      </div>
    </div>
  </div>
